*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x ;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 120px;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding: 30px 50px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

a:link, a:visited{
    color: #b10033;
    padding: 2px;
}

a:hover{
    color: #e50040;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    background: #b10033;
    margin-top: 30px;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1.20em;
    font-size: 0.9em;
    display: block;
    line-height: 2.1em;
    background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    background-color: #770026;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

#conteudo{
    margin-top: 60px;
}


#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;;    
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}

.caixa{
    margin: 10px 0;
    background: #f3f3f3 url(../img/fundo-caixa.png);
    padding: 5px 0 5px 0;
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1.5em;
    background: #fff;
}

#lateral ul a {
    font-size: 1.1em;
    font-style: italic;
    text-decoration: none;
    color: black;
    line-height: 30px;
    display: block;
    padding: 3px;
}

#lateral ul a:hover {
    color: #a1a1a1;
    background: #f9f9f9 url(../img/marcador.png) no-repeat left center;
    padding-left: 20px;
}

label{
    display: block;
    cursor: pointer;
    font-size: .9em;
    font-weight: bold;
    color: blue;
}

input{
    padding: 2px;
    width: 125px;
    font-size: 1.1em;
    background-color: #fff;
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
    margin-top: 2px;
}


img.img-principal{
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: blue;
    color: #fff;
}

.noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    min-height: 70px;
}

.noticias li a img {
    float: left;
    margin: 5px 10px 5px 0;
    width: 80px;
    height: 60px;
}

.noticias li a {
    text-decoration: none;
}

.noticias li a h3{
    font-size:.8em;
    padding: 0;
    color: #3e7ab9;
    margin-bottom: 2px;
}

.noticias li a p{
    font-size:.7em;
    color: #333;
    margin: 0;
    line-height: 1em;
    
}

.noticias li:hover{
    background: #eee;
    cursor: pointer;
}